<html>
<head>
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <hi><a href="">Django Girls Blog</a> </hi>
    </div>
<div>
    <p>published:14.06.2014, 12:14</p>
    <h2><a href="">My first post</a> </h2>
    <p>If you are a woman and want to learn how to make websites, we have good news for you:
        we are holding a one-day workshop for beginners! You need no prior coding knowledge!</p>
</div>
<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href="">My second post</a> </h2>
    <p>We believe the IT industry will greatly benefit from bringing more women into technology.
        We want to give you an opportunity to learnhow to program and become one of us – rockstar programmers!
    </p>
</div>

</body>
</html>